.container-cooperative{
    /* border: 1px solid; */
    width: 87%;
    margin: 0 0 0 auto;
    padding: 60px 0;
}

.actions{
    /* border: 1px solid; */
    display: flex;
    padding: 5px;
    justify-content: space-around;
    margin: 50px 0;
}
.add-cooperative{
    background-color: #DD1573;
    text-decoration: none;
    padding: 25px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background .3s ease-in-out;
}
.add-cooperative:hover{
    background-color: transparent;
    color: #DD1573;
    border: 1px solid #DD1573;
}
.cooperative-main{
    /* border: 1px solid; */
    padding: 10px;
    display: flex;
    background: #f1f1f1;
}