table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 50px 0 auto;
}
table th,
table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #0D78F2;
  font-weight: bold;
  color: #fff;
}
thead {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

table tr:hover {
  background-color: #DD1573;
  color: #fff;
}

table td.image {
  max-width: 100px;
}
td img {
  width: 50px;
}

table td.image img {
  max-width: 100%;
  height: auto;
}
table td button{
  background-color: #DD1573;
    border: 0;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
