.tab-notification {
  width: 80%;
  border-collapse: collapse;
  margin: 0 50px 0 auto;
  font-family: "Outfit", sans-serif;

}
.tab-notification th,
.tab-notification td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

.tab-notification th {
  background-color: #0D78F2;
  font-weight: bold;
  color: #fff;
}
.tab-notification thead {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tab-notification tr:hover {
  background-color: #DD1573;
  color: #fff;
}

.tab-notification td.image {
  max-width: 100px;
}
td img {
  width: 50px;
}

.tab-notification td.image img {
  max-width: 100%;
  height: auto;
}
.tab-notification td button{
  background-color: #DD1573;
    border: 0;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
