.stock-display {
  margin: 20px;
  /* border: 1px solid; */
  margin: 20px 0 0 auto;
  width: 85%;
  padding: 5px;
}
.stock-display h3{
    text-align: start;
    margin: 15px 0;
    color: #fff;
    font-weight: 400;
    background-color: #25c073;
    font-weight: bold;
    padding: 8px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* border: 1px solid; */
}
