.slider-container {
    position: relative;
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 20px auto;
    overflow: hidden;
    padding: 0;
  }
  .slider {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  .slider-container h2{
    position: absolute;
    z-index: 1000 ;
    margin: 10px;
  }
  
  .slider .img {
    width: 100%;
    opacity: 0;
    position: absolute;
    background-position: center;
    transition: opacity .3s ease-in-out;
  }
  
  .slider .img.active {
    opacity: 1;
  }
  
  
 